<div class="container justify-content-center text-center">
    <h2>Lista de vuelos</h2>
</div>
<div class="container justify-content-center mx-auto">
    <table class="mx-auto table table-success table-hover text-center">
            <tr>
                <th>Origen</th>
                <th>Destini</th>
                <th>Duracion</th>
            </tr>
            <tr th:each="vuelo :${vuelos}">
                <input type="hidden" name="id_vuelos" th:value="${vuelo.id}">
                <td th:text="${vuelo.origen}"></td>
                <td th:text="${vuelo.desino}"></td>
                <td th:text="${vuelo.duracion}"></td>
            </tr>
    </table>
</div>