<div class="container text-center p-0">
    <h2>Login</h2>
</div>
<form action="/login/c" method="post" class="text-center">
    Si aun no te has registrado puedes hacerlo con este link <a href="/register/c" class="nav-link">Registrar</a><br>
  Nombre <input type="text" name="nombreUsuario" class="container justify-content-center form-control w-25 "><br>
  Contraseña <input type="password" name="password" class="container justify-content-center form-control w-25"><br>
  <input type="submit" value="Enviar" class="btn btn-outline-success">
</form>