<div class="container text-center">
    <h1>Formaulario de Registro</h1>
    <form action="/register/c" method="post">
        Nombre del usuario <input type="text" name="nombreUsuario" class="container justify-content-center form-control w-25" >
        Correo Electronico <input type="email" name="correo" class="container justify-content-center form-control w-25">
        contraseña <input type="password" name="contrasena" class="container justify-content-center form-control w-25">
        <input type="submit" value="Enviar" class="btn btn-outline-success">
    </form>
</div>