<div class="container text-center bg-info">
    <h3>Selecciona una opcion</h3>
    <h2>Textimoniales</h2>
</div>
<div class="container">
<div class="card-group">
    <div class="card p-1">
        <img class="card-img-top" src="/img/vuelos.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Mira toda tu programacion mensual</h5>
            <p class="card-text">Mira toda tu programacion de vuelos para estar al dia de tu rowster y tener tu vida organizada</p>
            <a href="#" class="btn btn-outline-success">Vamos Alla</a>
        </div>
    </div>
    <div class="card P-1  justify-content-center">
        <img class="card-img-top p-1 w-auto" src="/img/playa.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Reserva de Vuelos</h5>
            <p class="card-text">Tomate unas merecidas vecaciones y reserva un vuelo como extra</p>
            <a href="/vuelos/r" class="btn btn-outline-success">Vamos Alla</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="/img/chicago.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Novedades</h5>
            <p class="card-text">Descubre las ultimas novedades de vuelos </p>
            <a href="#" class="btn btn-outline-success">Vamos Alla</a>
        </div>
    </div>
</div>
</div>